body {
    font-family: "Superbet Sans";
    font-weight: 400;
    font-size: 14px;
    background: #FD0104;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.inner-wrapper {
    max-width: 1106px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.flex {
    display: flex;
}

.header {
    width: 100%;
    height: 88px;
    align-items: flex-end;
    justify-content: space-between;
}

.logo-link {
    width: 100%;
}

.logo-icon {
    width: 282px;
    height: 50px;
}

.hover:hover {
    opacity: .75;
}

.user-wrapper {
    margin-right: 0;
    margin-bottom: 5px;
}

.btn {
    width: 256px;
    color: #FFFFFF;
    background: #700042;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    height: 44px;
}

.log-btn {
    margin-right: 29px;
}

.reg-btn {
    background: #FFFFFF;
    color: #700042;
    margin-left: 29px;
}

.cta-wrapper {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    padding-top: 66px;
}

.cta-heading {
    width: 623px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 34px;
}

.h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 55px;
}

.cta-content {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-transform: none;
    margin-top: 40px;
    margin-right: 160px;
}

.cta-button {
    width: 363px;
    height: 68px;
    align-items: center;
    justify-content: center;
    background: #700042;
    border-radius: 10px;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 85px;
}

.promo-code {
    flex-direction: column;
    width: 521px;
}

.promo-text-up {
    margin-bottom: 34px;
}

.promo-image {
    width: 17%;
    height: 110px;
    margin-right: 5px;
}

.relative {
    position: relative;
    bottom: 20px;
}

.letter {
    width: 46px;
}

.promo-image:last-child {
    margin-right: 0;
}

.coupon-block {
    margin-top: 55px;
    justify-content: center;
    align-items: center;
}

.coupon-btn {
    width: 70px;
    height: 42px;
    font-style: normal;
    font-weight: 900;
    font-size: 23.871px;
    line-height: 37px;
    /* identical to box height, or 155% */
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.8);
    transform: rotate(-90deg);
    background: #FBA417;
}

.coupon-code {
    height: 70px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 31.0322px;
    line-height: 37px;
    /* identical to box height, or 119% */
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    align-items: center;
    right: 14px;
    bottom: 0;
    padding: 0 10px;
}

.main-screen {
    padding-bottom: 130px;
}

.steps-wrapper {
    flex-direction: row;
}

.step {
    width: 363px;
    height: 131px;
    background: #FFFFFF;
    border-radius: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    color: #700042;
    margin-right: 9px;
    align-items: center;
}

.step:last-child {
    margin-right: 0;
}

.step-number {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 30px 0 15px;
}

.step-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    color: #700042;
}

.step-advantage {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-transform: lowercase;
}